[submodule "Externals/PD-components"]
	path = Externals/PD-components
	url = https://github.com/devstermarts/PD-components.git
[submodule "Externals/pd-mkmr"]
	path = Externals/pd-mkmr
	url = https://github.com/MikeMorenoDSP/pd-mkmr.git
[submodule "PDida"]
	path = PDida
	url = https://github.com/rrampoldi/PDida.git
[submodule "PD-components"]
	path = PD-components
	url = https://github.com/devstermarts/PD-components.git
[submodule "pd-mkmr"]
	path = pd-mkmr
	url = https://github.com/MikeMorenoDSP/pd-mkmr.git
[submodule "Externals/spico"]
	path = Externals/spico
	url = https://github.com/corvett21/spico.git
[submodule "Externals/PDida"]
	path = Externals/PDida
	url = https://github.com/rrampoldi/PDida.git
